<h3>Listing all issues ranges for <%=@title.name %></h3>

<table>
  <tr>
    <th>Low</th>
    <th>High</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @title.issue_ranges.each do |issue_range| %>
  <tr>
    <td><%= issue_range.low %></td>
    <td><%= issue_range.high %></td>
  </tr>
<% end %>
</table>

<br />