<tr class="data">
    <td><%= link_to issue.number, title_issue_path(@title, issue) %></td>
    <td>Coming soon...</td>
    <td>Coming soon...</td>
    <td><%= link_to "Edit", edit_title_issue_path(@title, issue) %></td>
</tr>