<body>
<div class="form-inline" id="new-publisher-form">
<%= form_for(@publisher, :remote => true) do |f| %>

    <% if @publisher.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

        <ul>
        <% @title.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.text_field :name, :placeholder => "Publisher Name" %>
    <button type="submit" id="add-button" class="btn">Add</button>
    <button type="cancel" id="done-button" class="btn">Done</button>
<% end %>
</div>
</body>