<body>
<h4>Comic Publishers</h4>
<div><%= link_to 'Click here to add a new Publisher', new_publisher_path, :remote =>true, :class => "new-link"%></div>
<div id="form-container">
</div>
<row>
<table class="table table-striped table-bordered table-condensed span11">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <tbody id ="comic-table-body">
    <%= render(@publishers) || "There are no publishers available." %>
  </tbody>
</table>
</row>

</body>
