<body>

<%# ROW1 %>
<h4 class="comic-table-header">Title</h4>
<%= link_to 'Back to Titles', titles_path, :class => "back-link" %>
<table class="table table-striped table-bordered table-condensed span11">
<thead>
<tr>
    <th>Name</th>
    <th>Publisher</th>
</tr>
</thead>
<tr>
    <td><%= link_to @title.name, @title %></td>
    <td><%= link_to @publisher.name, @publisher %></td>
</tr>
</table>

<%# ROW2 %>
<div id="form-container"></div>
<h4 class="comic-table-header">Issues</h4>
<%= link_to 'Click here to add new Issues', new_title_issue_range_path(@title), :remote => true, :class => "new-link" %>
<table class="table table-striped table-bordered table-condensed span11">
<thead>
<tr>
    <th>Number</th>
    <th>Artist</th>
    <th>Writer</th>
    <th></th>
</tr>
<tbody id="comic-table-body">
    <% render(@title.issues) || 'There are no issues available.' %>
</tbody>
</table>

</body>
