<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="#">I Can Comic Has?</a>
<div class="nav-collapse">
    <ul class="nav">
        <li><%= url_for(link_to "Titles", titles_path) %></li>
        <li><%= url_for(link_to "Publishers", publishers_path) %></li>
        <li><a href="/sharing">Share</a></li>
        <li><a href="/import">Import</a></li>
        <li><a href="/about">About</a></li>
        <% if user_signed_in? %>
        <li>
            <%= link_to 'My Account', edit_user_registration_url, :method=>'update'%>
        </li>
        <li>
            <%= link_to 'Logout', destroy_user_session_url, :method=>'delete' %>
        </li>
        <!-- <div class="btn-group"> -->
            <%# =link_to 'Have', mode_titles_path(@title, mode: "have"), :remote => true, :class => "btn", :id => "have-button" %>
            <%# =link_to 'Want', mode_titles_path(@title, mode: "want"), :remote => true, :class => "btn", :id => "want-button" %>
        <!-- </div> -->
        <% end %>
    </ul>
</div>
