<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="#">I Can Comic Has?</a>
<div class="nav-collapse">
    <ul class="nav">
        <li><%= url_for(link_to "Titles", titles_path) %></li>
        <li><%= url_for(link_to "Publishers", publishers_path) %></li>
        <li><a href="/api">API</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>